<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTsvDYaRTblthEXK8IzvlESGpsNrgiDA" async defer></script>
</head>
<body>
    <div class="chat-container">
        <div id="chat-box" class="chat-box">
            <!-- Messages will appear here -->
        </div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your message here..." autofocus>
            <button onclick="sendMessage()">Send</button>
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
